
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
 <!--<![endif]-->

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="description" content="Name of your web site">
    <meta name="author" content="Marketify">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Aali | Home</title>

    <!-- STYLES -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="~/portfolio/html/css/plugins.css" />
    <link rel="stylesheet" type="text/css" href="~/portfolio/html/css/dark.css" />
    <link rel="stylesheet" type="text/css" href="~/portfolio/html/css/colors.css" />
    <link rel="stylesheet" type="text/css" href="~/portfolio/html/css/style.css" />
    <!--[if lt IE 9]> <script type="text/javascript" src="js/modernizr.custom.js"></script> <![endif]-->
    <!-- /STYLES -->

</head>

<body>

    <!-- PRELOADER -->
    <div id="preloader">
        <div class="loader_line"></div>
    </div>
    <!-- /PRELOADER -->
    <!-- WRAPPER ALL -->
    <div class="aali_tm_all_wrap" data-magic-cursor="show" data-color="crimson">

        <!-- MODALBOX -->
        <div class="aali_tm_modalbox">
            <div class="box_inner">
                <div class="close">
                    <a href="#"><img class="svg" src="~/portfolio/html/img/svg/cancel.svg" alt="" /></a>
                </div>
                <div class="description_wrap"></div>
            </div>
        </div>
        <!-- /MODALBOX -->
        <!-- MOBILE MENU -->
        <div class="aali_tm_mobile_menu">
            <div class="mobile_menu_inner">
                <div class="mobile_in">
                    <div class="logo">
                        <a href="#"><img src="~/portfolio/html/img/logo/dark.png" alt="" /></a>
                    </div>
                    <div class="trigger">
                        <div class="hamburger hamburger--slider">
                            <div class="hamburger-box">
                                <div class="hamburger-inner"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dropdown">
                <div class="dropdown_inner">
                    <ul class="anchor_nav">
                        <li class="current"><a href="#home">Ana Sayfa</a></li>
                        <li><a href="#about">Hakkımda</a></li>
                        <li><a href="#portfolio">Portfolyo</a></li>
                        <li><a href="#service">Hizmetlerim</a></li>
                        <li><a href="#skill">Yeteneklerim</a></li>
                        <li><a href="#resume">Özgeçmiş</a></li>
                        <li><a href="#contact">İletişim</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /MOBILE MENU -->
        <!-- HEADER -->
        <div class="aali_tm_header">
            <div class="container">
                <div class="inner">
                    <div class="logo">
                        <a class="light" href="#"><img src="~/portfolio/html/img/logo/logo.png" alt="" /></a>
                        <a class="dark" href="#"><img src="~/portfolio/html/img/logo/dark.png" alt="" /></a>
                    </div>
                    <div class="menu">
                        <ul class="anchor_nav">
                            <li class="current"><a href="#home">Ana Sayfa</a></li>
                            <li><a href="#about">Hakkımda</a></li>
                            <li><a href="#portfolio">Portfolyo</a></li>
                            <li><a href="#service">Hizmetlerim</a></li>
                            <li><a href="#skill">Yeteneklerim</a></li>
                            <li><a href="#resume">Özgeçmiş</a></li>
                            <li><a href="#contact">İletişim</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /HEADER -->

        <!-- HERO -->
        @Html.Action("Slider")
        <!-- /HERO -->

        <!-- ABOUT -->
        @Html.Action("About")
        <!-- /ABOUT -->

        <!-- SKILLS -->
        @Html.Action("Skills")
        <!-- /SKILLS -->

        <!-- PORTFOLIO -->
        @Html.Action("Portfilo")
        <!-- /PORTFOLIO -->

        <!-- SERVICES -->
        @Html.Action("Service")
        <!-- /SERVICES -->

        <!-- RESUME -->
        @Html.Action("Resume")
        <!-- /RESUME -->

        <!-- COUNTER -->
        @Html.Action("Counter")
        <!-- /COUNTER -->

        <!-- CONTACT -->
        @Html.Action("Contact")
        <!-- /CONTACT -->

        <!-- COPYRIGHT -->
        @Html.Action("CopyRigth")
        <!-- /COPYRIGHT -->

        <!-- MAGIC CURSOR -->
        <div class="mouse-cursor cursor-outer"></div>
        <div class="mouse-cursor cursor-inner"></div>
        <!-- /MAGIC CURSOR -->

    </div>
    <!-- / WRAPPER ALL -->
    <!-- SCRIPTS -->
    <script src="~/portfolio/html/js/jquery.js"></script>
    <!--[if lt IE 10]> <script type="text/javascript" src="js/ie8.js"></script> <![endif]-->
    <script src="~/portfolio/html/js/plugins.js"></script>
    <script src="~/portfolio/html/js/init.js"></script>
    <!-- /SCRIPTS -->

</body>
</html>