
@model PortfolioProject.Models.Entity.WorkingLife

@{
    ViewBag.Title = "WorkingLifeUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Çalışma Bilgilerimi Güncelleme</h4>

                <div class="row">
                    <div class="col-lg-12">
                        <form method="post">
                            @Html.HiddenFor(x => x.ID)
                            <div class="mb-3">
                                <label for="simpleinput" class="form-label">Bölüm</label>
                                @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                            </div>

                            <div class="mb-3">
                                <label for="simpleinput" class="form-label">Şirket İsmi</label>
                                @Html.TextBoxFor(x => x.CompanyName, new { @class = "form-control" })
                            </div>

                            <div class="mb-3">
                                <label for="simpleinput" class="form-label">Tarih</label>
                                @Html.TextBoxFor(x => x.WorkingDate, new { @class = "form-control" })
                            </div>

                            <div class="mb-3">
                                <label for="simpleinput" class="form-label">İçerik</label>
                                @Html.TextAreaFor(x => x.Content, 5, 1, new { @class = "form-control" })
                            </div>

                            <button type="submit" class="btn btn-primary">Güncelle</button>

                        </form>
                    </div>
                </div>
                <!-- end row-->

            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div><!-- end col -->
</div>

