
@model PortfolioProject.Models.Entity.Portfolio

@{
    ViewBag.Title = "PortfolioAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Yeni Portfolyo Ekle</h4>

                <div class="row">
                    <div class="col-lg-12">
                        <form method="post">

                            <div class="mb-3">
                                @Html.Label("Başlık", new { @class = "form-label" })
                                @Html.TextBoxFor(x=>x.Title, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x=>x.Title, "", new { @style="color:red" })
                            </div>

                            <div class="mb-3">
                                <label for="simpleinput" class="form-label">Resim Yolu</label>
                                @Html.TextBoxFor(x => x.Image, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Image, "", new { @style = "color:red" })
                            </div>

                            <button type="submit" class="btn btn-primary">Ekle</button>

                        </form>
                    </div>
                </div>
                <!-- end row-->

            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div><!-- end col -->
</div>

